*{
    margin: 0;
    padding: 0;
}
.main-container{
    margin: 200px 300px;
    display: flex;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left-container{
    /* border: 1px solid red; */
    width: 50%;
    background-color: #2874f0;
    text-align: center;
    padding-top:10%;
    border-radius: 10px 0px 0px 10px;
}
.right-container{
    /* border: 1pz solid green; */
    width: 50%;
    padding: 40px;
}
.left-container h1{
    color: white;
    font-size: 62px;
    /* text-align: center; */
}
.left-container p{
    color: white;
    font-size: 24px;
    /* text-align: center; */
}


.into-container{
    text-align: right;
}
.into-container img{
    width: 40px;
}
.input-container{
    padding-top: 30px;
}
.login-text p{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    /* word-spacing: 3px; */
}
.mobile-input, .password-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.input-container label{
    font-size: 18px;
    font-weight: bold;
}
.input-container input{
    height: 30px;
    width: 60%;
    border-radius: 50px;
    padding-left: 20px;
    border: 3px solid grey;
}
.button-container{
    padding: 50px 0;
}
.button-container button{
    width: 150px;
    padding: 12px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
}

.button-container button:first-child{
    background-color: #2874f0;
    color: white;
}
.description{
    padding-right: 30%;
}
.description p{
    font-size: 18px;
}
.description a{
    font-weight: bold;
    /* text-decoration: none; */
}